{% extends 'base.html' %}

{% block title %} Listing Page {% endblock %}


{% block heading %} Listing Page {% endblock %}

{% block content%}

<!-- Testing for listing_page-->

{% for message in get_flashed_messages() %}
  <b>{{ message }}</b>
{% endfor %}

  {% for pet in pets %}
   <div>
     <p>Name: {{ pet.name}}</p>

     <p>
      {% if pet.available %}
        <b>Available</b>
      {% else %}
        <b>Unavailable</b>
      {% endif %}
    </p>

    {% if pet.photo_url != ''%}
     <img src="{{pet.photo_url}}" alt="failed to load image" style="width: 200px height: 200px">
     {% endif %}

     <a href="/{{pet.id}}">Edit Pet Profile</a>
   </div>
   {% endfor %}

   <a href="/add">Add New Pet</a>

{% endblock %}
